body {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .spectral-extralight {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .spectral-light {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .spectral-medium {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .spectral-semibold {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .spectral-extrabold {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .spectral-extralight-italic {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .spectral-light-italic {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .spectral-regular-italic {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .spectral-medium-italic {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .spectral-semibold-italic {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .spectral-bold-italic {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .spectral-extrabold-italic {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: italic;
  }

/* Heading Styles */
.headingXL {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-size: 3em;
    font-style: normal;
    line-height: 1.6;

}
.headingL {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-size: 2.5em;
  font-style: normal;

}

.headingM {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-size: 2em;
  font-style: normal;

}

.headingS {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: 1.5em;
  font-style: normal;

}

.bodyM {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-size: 1em;
  font-style: normal;

}

p {
    color: black;
  }
  li {
    list-style-type: none;
    color: pink;
  }

  li em {
    color: rebeccapurple;
  }
  .special {
    color: orange;
    font-weight: bold;
  }
/* Alignment Styles */
.textalignleft {
  text-align: left;
}

.textaligncenter {
  text-align: center;
}

.textalignright {
  text-align: right;
}