body {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .spectral-extralight {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .spectral-light {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .spectral-medium {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .spectral-semibold {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .spectral-extrabold {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .spectral-extralight-italic {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .spectral-light-italic {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .spectral-regular-italic {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .spectral-medium-italic {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .spectral-semibold-italic {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .spectral-bold-italic {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .spectral-extrabold-italic {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: italic;
  }

/* Heading Styles */
.headingXL {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-size: x-large;
    font-style: normal;

}
.headingL {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-size: large;
  font-style: normal;

}

.headingM {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-size: medium;
  font-style: normal;

}

.headingS {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-size: small;
  font-style: normal;

}

h1 {
    color: purple;
    font-weight: 200;
    font-size: 2.5em;
  }
h2 {
    color: purple;
    font-weight: 200;
    font-size: 1.5em;
}
h3 {
    color: black;
    font-weight: 100;
    font-size: 1em;
}
p {
    color: black;
  }
  li {
    list-style-type: none;
    color: pink;
  }

  li em {
    color: rebeccapurple;
  }
  .special {
    color: orange;
    font-weight: bold;
  }

